<!DOCTYPE html>
<html xmlns="http:/ /www.w3.org/1999/xhtml" xmlns:th="http:/ /www.thymeleaf.org">  
	<head>    
		<title>Task List</title>  
	</head>  
	<body>    
		<h2>List of Tasks :</h2>
		
		<div th:each="curTask : ${curList}">
			<b th:text="${curTask.title}">Title</b>
			<p th:text="${curTask.status}">Status:</p>
			<a th:href="@{/list/task/{id}(id=${curTask.ID})}">Edit Task</a>
			<a th:href="@{/list/task/delete/{id}(id=${curTask.ID})}">Delete Task</a>
		</div>
		
		<p>Hello World!</p>
		
		<h4> Add a new Task : </h4>
		<form method="POST" th:object="${task}" th:action="@{/list}">
			<input th:field="*{title}" type="text" placeholder="Enter task title"/>
			
			<input type="submit" value="Add Task">
		</form>
	
		
	</body>
</html>